[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
wikipedia = "*"
google-search-results = "*"
google-api-python-client = "*"
duckduckgo-search = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
